# Ignore target directories
**/target/
**/dist/
**/node_modules/
**/.DS_Store
/test
/templates/css

# Ignore output.css files
**/output*.css

# Ignore secret files
*.pem
*.key
*.macaroon
*.env
package.json
*.lockb



# Ignore text scripts
*.sh


