<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{"Login"}</title>
    <link rel="stylesheet" href="/templates/styles/output.css">
</head>
<body class="font-fuente min-h-screen">
    <header class="lg:hidden">
        <img
            src="/templates/img/Logo Fuente.jpeg"
            alt="Fuente logo"
            class="w-52 mx-auto py-5"
        >
    </header>
    <main class="grid grid-rows-[3fr_1fr] lg:flex min-h-screen">
        <div class="hidden bg-fuente min-h-screen overflow-hidden lg:overflow-visible lg:bg-white lg:bg-logo lg:bg-no-repeat lg:bg-[length:200px_75px] lg:mt-10 lg:ml-16 lg:flex lg:justify-end lg:items-center lg:flex-1">
            <h2 class="hidden lg:flex text-fuente text-[135px] lg:text-[175px] font-bold -rotate-90 -mr-24 tracking-tighter lg:tracking-[-1rem]">{"Shop"}</h2>
        </div>

        <div class="bg-fuente lg:flex lg:items-center lg:flex-auto lg:h-auto lg:min-h-screen lg:overflow-visible relative lg:static">
            <h2 class="hidden lg:flex text-white text-[135px] lg:text-[175px] font-bold -rotate-90 -ml-[5.4rem] lg:-ml-[7.9rem] tracking-[-1rem] -mb-16">{"Now"}</h2>
            <div class="container mx-auto pt-10">
                <div class="max-w-[400px] lg:max-w-[360px] mx-auto xl:ml-44 lg:mb-48">
                    <p class="text-5xl lg:text-6xl text-white font-bold -mb-2 relative z-10 text-right tracking-tighter mr-4">{"Login"}</p>
                    <form class="bg-fuente-forms py-[65px] px-5 rounded-3xl relative z-0">
                        <div class="space-y-1">
                            <label
                                for="key"
                                class="text-white text-lg block text-left"
                            >{"Write the key"}</label>
                            <input
                                id="key"
                                type="text"
                                class="p-2 w-full rounded-xl"
                            >
                        </div>
    
                        <div class="space-y-5 flex flex-col mt-5">
                            <a href="#" class="text-center text-white font-thin underline cursor-pointer hover:text-cyan-400">{"How the key works?"}</a>
                            <a href="/templates/views/auth/register.html" class="text-center text-white font-thin underline cursor-pointer hover:text-fuente-buttons">{"I'm not already registered"}</a>
                            <input
                                type="submit"
                                class="bg-fuente-buttons p-3 rounded-3xl font-bold text-fuente hover:cursor-pointer w-2/4 mx-auto"
                                value="Buy Now"
                            >
                        </div>
                    </form>
                </div>
            </div>

            <h2 class="text-white text-[135px] font-bold tracking-[-1rem] text-center lg:hidden absolute -bottom-12 left-0 w-full">{"Shop"}</h2>
        </div>
        <div class="lg:hidden bg-white">
            <h2 class="text-fuente text-[135px] font-bold tracking-[-1rem] text-center -mt-5">{"Now"}</h2>
        </div>
    </main>
</body>
</html>