@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 95%;
}

.max-w-6xl{
    width: 95%;
}

.admin-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div {
    display: none;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/public/assets/fonts/OpenSans.ttf') format('truetype');
}
@font-face {
  font-family: 'MPlus';
  src: url('/public/assets/fonts/MPLUSRounded1c-Black.ttf') format('truetype');
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}
