<aside class="flex flex-col gap-3 flex-1">
    <a class="py-4 lg:text-center px-8 rounded-2xl font-bold text-lg bg-fuente text-white xl:text-left tracking-wide" href="/templates/views/app/business/store-new-products.html">
        {"New products"}
    </a>
    <a class="py-4 lg:text-center px-8 rounded-2xl font-bold text-lg bg-gray-100 text-gray-500 xl:text-left tracking-wide" href="/templates/views/app/business/store-all-products.html">
        {"All products"}
    </a>
    <a class="py-4 lg:text-center px-8 rounded-2xl font-bold text-lg bg-gray-100 text-gray-500 xl:text-left tracking-wide" href="/templates/views/app/business/store-products-on-sale.html">
        {"On Sale"}
    </a>
    <a class="py-4 lg:text-center px-8 rounded-2xl font-bold text-lg bg-gray-100 text-gray-500 xl:text-left tracking-wide" href="/templates/views/app/business/store-discontinued-products.html">
        {"Discontinued"}
    </a>
</aside>