<aside class="hidden flex-col lg:flex justify-center gap-3">
    <a class="text-center lg:text-left w-full mt-4 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-fuente text-white tracking-wide" href="/templates/views/app/profile-personal.html">
        {"Dashboard"}
    </a>
    <a class="flex items-center justify-center lg:justify-start text-center lg:text-left w-full mt-4 lg:mt-0 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-gray-100 text-gray-500 tracking-wide" href="/templates/views/app/profile-address.html">
        {"Exchange"}
    </a>
    <a class="flex items-center justify-center lg:justify-start text-center lg:text-left w-full mt-4 lg:mt-0 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-gray-100 text-gray-500 tracking-wide" href="/templates/views/app/profile-address.html">
        {"Store"}
    </a>
    <a class="flex items-center justify-center lg:justify-start text-center lg:text-left w-full mt-4 lg:mt-0 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-gray-100 text-gray-500 tracking-wide" href="/templates/views/app/profile-address.html">
        {"Orders"}
    </a>
    <a class="flex items-center justify-center lg:justify-start text-center lg:text-left w-full mt-4 lg:mt-0 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-gray-100 text-gray-500 tracking-wide" href="/templates/views/app/profile-address.html">
        {"Clients"}
    </a>
    <a class="flex items-center justify-center lg:justify-start text-center lg:text-left w-full mt-4 lg:mt-0 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-gray-100 text-gray-500 tracking-wide" href="/templates/views/app/profile-address.html">
        {"Drivers"}
    </a>
</aside>