<div class="mt-3 lg:hidden w-full flex flex-wrap items-center gap-2">
    <div class="border-2 border-sky-400 p-2 h-fit md:p-3 rounded-lg flex items-center justify-center">
        <p class="text-sky-400 font-bold text-md text-center">{"Ready to Delivery"}</p>
    </div>

    <button class="bg-orange-500 rounded-lg md:rounded-xl p-2 h-fit">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8">
            <g data-name="14. Delivery Truck"><path d="M7 5h6v3.88A1.12 1.12 0 0 1 11.88 10H8.12A1.12 1.12 0 0 1 7 8.88V5Z" fill="#ffffff" class="fill-77acf1"></path><path d="m31.41 17-1.54-1.54-1.69-5.09A2 2 0 0 0 26.28 9H20V7a3 3 0 0 0-3-3H3a3 3 0 0 0-3 3v15a3 3 0 0 0 3 3h1.14a4 4 0 1 0 0-2H3a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v16h-3a1 1 0 0 0 0 2h6.14a4 4 0 0 0 7.72 0H30a2 2 0 0 0 2-2v-4.59a2 2 0 0 0-.59-1.41ZM8 22a2 2 0 1 1-2 2 2 2 0 0 1 2-2Zm19.61-7H24v-4h2.28ZM25 26a2 2 0 1 1 2-2 2 2 0 0 1-2 2Zm5-3h-1.14a4 4 0 0 0-7.72 0H20V11h2v5a1 1 0 0 0 1 1h5.59L30 18.41Z" fill="#ffffff" class="fill-04009a"></path></g>
        </svg>
    </button>

    <button class="bg-green-500 rounded-lg md:rounded-xl p-2 h-fit">
        <svg viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8">
            <path d="M6 10.7 1.8 6.5.4 7.9 6 13.5l12-12L16.6.1 6 10.7Z" fill="#ffffff" fill-rule="evenodd" class="fill-000000"></path>
        </svg>
    </button>

    <button class="bg-red-500 rounded-lg md:rounded-xl p-2 h-fit">
        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8">
            <path fill-rule="evenodd" d="m8 9.414-4.293 4.293-1.414-1.414L6.586 8 2.293 3.707l1.414-1.414L8 6.586l4.293-4.293 1.414 1.414L9.414 8l4.293 4.293-1.414 1.414L8 9.414z" fill="#ffffff" class="fill-000000"></path>
        </svg>
    </button>
</div>