<div class="flex justify-center sm:justify-between md:justify-center items-center gap-5 md:gap-20 mt-10 py-10 border-t border-t-fuente">
    <img
        src="/templates/img/sneaker_1.png"
        alt="Product Image"
        class="w-20 sm:w-28 lg:w-32 object-contain bg-gray-100 rounded-xl block"
    >
    <div class="flex flex-col">
        <p class="text-gray-500 font-bold">{"Brand of shoes"}</p>
        <p class="text-gray-500 font-light">{"Woman Rainbow shoes"}</p>
        <p class="text-gray-500 font-bold uppercase">{"Code: 001212"}</p>
        <button class="lg:hidden border-2 border-fuente px-5 py-2 rounded-xl w-fit mt-1">{"1"}</button>
    </div>

    <div class="hidden lg:flex items-center justify-between border border-fuente rounded-xl">
        <button class="text-gray-500 w-full px-5 py-3">{"-"}</button>
        <button class="text-gray-500 w-full px-5 py-3">{"1"}</button>
        <button class="text-gray-500 w-full px-5 py-3">{"+"}</button>
    </div>

    <p class="text-2xl md:text-4xl text-fuente font-bold">{"$99.99"}</p>

    <button>
        <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 md:h-10 md:w-10">
            <path fill="none" d="M0 0h256v256H0z"></path><path fill="none" stroke="#4167e8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M216 56H40M104 104v64M152 104v64M200 56v152a8 8 0 0 1-8 8H64a8 8 0 0 1-8-8V56M168 56V40a16 16 0 0 0-16-16h-48a16 16 0 0 0-16 16v16" class="stroke-000000"></path>
        </svg>
    </button>
</div>