<tr>
    <td class="py-8 pt-4 whitespace-nowrap">
        <img src="/templates/img/sneaker_2.png" alt="Product Image" class="w-32 bg-gray-200 rounded-2xl">
    </td>
    <td class="px-6 py-8 whitespace-nowrap">
        <p class="font-bold text-gray-500 mt-8">{"Brand of shoes"}</p>
        <p class="font-thin text-gray-500 mt-3">{"Woman Rainbow shoes"}</p>
        <p class="font-bold text-gray-500">{"CODE: 001212"}</p>
    </td>
    <td class="px-6 py-8">
        <div class="border border-fuente flex justify-center gap-8 rounded-xl py-3 px-2 mt-20">
            <button class="text-gray-600">{"-"}</button>
            <span class="text-gray-600">{"1"}</span>
            <button class="text-gray-600">{"+"}</button>
        </div>
    </td>
    <td class="px-6 py-8 whitespace-nowrap text-right text-4xl text-fuente font-semibold">
        <p class="mt-20">{"$99.99"}</p>
    </td>
    <td class="whitespace-nowrap text-center py-8 px-6">
        <button class="w-10 h-10 mt-20">
            <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h256v256H0z"></path><path fill="none" stroke="#4167e8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M216 56H40M104 104v64M152 104v64M200 56v152a8 8 0 0 1-8 8H64a8 8 0 0 1-8-8V56M168 56V40a16 16 0 0 0-16-16h-48a16 16 0 0 0-16 16v16" class="stroke-000000"></path>
            </svg>
        </button>
    </td>
</tr>