<div class="grid lg:grid-cols-2 mt-10 gap-10 container mx-auto">
    <div>
        <div class="xl:relative flex items-center justify-between bg-fuente rounded-2xl h-44 lg:h-60 lg:pr-5">
            <img src="/templates/img/sneaker_2.png" alt="Sneaker Product" class="xl:absolute xl:-top-5 xl:left-0 xl:-translate-x-10 xl:-translate-y-10 object-contain w-40 min:[470px]:w-[300px] sm:w-[300px] xl:w-[350px] sm:translate-y-1 sm:-translate-x-8">
            <p class="text-center w-full sm:text-3xl 2xl:text-6xl lg:text-right xl:text-left text-white font-bold tracking-tighter text-wrap lg:ml-auto xl:max-w-80 text-2xl">
                {"50% Off Only today!"}
                <span class="text-sm lg:text-xl tracking-normal font-semibold block mt-3 uppercase">{"In evany store"}</span>
            </p>
        </div>
    </div>
    <div class="hidden lg:block">
        <div class="relative flex items-center justify-between bg-fuente rounded-2xl h-60 pr-5">
            <img src="/templates/img/iphone.png" alt="iPhone Product" class="absolute top-10 left-10 -translate-x-10 -translate-y-10 block object-contain lg:max-w-40 xl:max-w-52 lg:p-3 xl:p-0">
            <p class="lg:text-3xl 2xl:text-6xl lg:text-right xl:text-left text-white font-bold tracking-tighter text-wrap ml-auto lg:max-w-80 xl:max-w-[400px]">
                {"Shop today Receive today!"}
                <span class="text-xl tracking-normal font-semibold block mt-3 uppercase">{"In mytechy store"}</span>
            </p>
        </div>
    </div>
</div>