<form class="rounded-2xl bg-white p-5 md:max-w-sm lg:max-w-xs mx-auto">
    <div class="space-y-2">
        <label for="exchange" class="text-gray-500 font-light text-sm">{"Change the Exchange"}</label>
        <input
            type="text"
            id="exchange"
            class="w-full rounded-lg border-2 border-fuente p-2"
        >
        <div class="flex justify-center">
            <input
                type="submit"
                value="Save"
                class="bg-fuente-orange text-center text-white font-bold text-sm py-3 rounded-full w-full md:w-1/2 lg:mx-auto"
            >
        </div>
    </div>
</form>