<footer class="bg-primary p-20 mt-40">
    <div class="container mx-auto flex justify-between items-center lg:gap-4 xl:gap-0">
        <a href="/src/views/app/home.html">
            <h3 class="text-white font-bold text-5xl">{Fuente}</h3>
        </a>

        <div>
            <h3 class="text-xl text-white">{About Fuente}</h3>
            <div class="mt-5 space-y-3">
                <p class="text-white font-light text-lg">{&gt; How to buy?}</p>
                <p class="text-white font-light text-lg">{&gt; How to sale?}</p>
                <p class="text-white font-light text-lg">{&gt; Why is secure?}</p>
            </div>
        </div>

        <div>
            <h3 class="text-xl text-white">{Benefits of Fuente}</h3>
            <div class="mt-5 space-y-3">
                <p class="text-white font-light text-lg">{&gt; Our benefits?}</p>
                <p class="text-white font-light text-lg">{&gt; Shipping and collections of orders?}</p>
                <p class="text-white font-light text-lg">{&gt; Payment methods?}</p>
            </div>
        </div>

        <div>
            <h3 class="text-xl text-white">{Politics of Fuente}</h3>
            <div class="mt-5 space-y-3">
                <p class="text-white font-light text-lg">{&gt; Terms and conditions}</p>
                <p class="text-white font-light text-lg">{&gt; General policies}</p>
                <p class="text-white font-light text-lg">{&gt; Privacy Policy}</p>
                <p class="text-white font-light text-lg">{&gt; Return and exchanges}</p>
            </div>
        </div>
    </div>
</footer>