<div class="flex justify-between items-center relative bg-sky-200 rounded-2xl px-10 py-5">
    <img src="/templates/img/sneaker_1.png" alt="Sneaker Product"
        class="absolute object-contain lg:w-40 mt-10 xl:mt-4 xl:w-52 top-0 left-0 z-10">
    <img src="/templates/img/sneaker_2.png" alt="Sneaker Product"
        class="absolute object-contain lg:w-40 mt-10 xl:mt-4 xl:w-52 -top-10 left-28 z-20">
    <img src="/templates/img/sneaker_3.png" alt="Sneaker Product"
        class="absolute object-contain lg:w-40 mt-10 xl:mt-4 xl:w-64 top-0 left-56 z-30">

    <div class="ml-auto">
        <h2 class="text-5xl text-fuente tracking-tighter font-semibold max-w-[500px]">{"Are you looking for sale your
            products?"}</h2>
        <button class="text-fuente-forms bg-fuente-buttons py-3 px-10 rounded-full font-semibold mt-5">{"Get more
            info"}</button>
    </div>
</div>