<nav class="hidden lg:flex lg:justify-center max-w-6xl mx-auto">
    <div class="flex gap-5 justify-between">
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Books"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Tech"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Clothing"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Hardware"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Pharmacy"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Groceries"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Music"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Movies"}</a>
        <a href="#" class="text-fuente-dark font-semibold text-xl">{"Furniture"}</a>
    </div>
</nav>