<div class="bg-gray-100 py-5 flex items-center gap-16">
    <div class="container mx-auto flex items-center justify-end gap-4">
        <p class="text-white bg-fuente-orange w-16 h-16 rounded-full font-bold text-lg text-center flex items-center justify-center">{"1"}</p>
        <p class="text-fuente-orange font-bold text-xl">{"Payment"}</p>
    </div>

    <div class="container mx-auto flex items-center gap-5">
        <p class="text-white bg-fuente h-16 w-16 rounded-full font-bold text-lg text-center flex items-center justify-center">{"2"}</p>
        <p class="text-fuente font-bold text-xl">{"Confirmation"}</p>
    </div>
</div>