<div class="bg-gray-100 py-5 flex justify-center items-center gap-5 lg:gap-16">
    <div class="flex items-center gap-5">
        <p class="text-white bg-orange-500 w-10 h-10 lg:w-16 lg:h-16 rounded-full font-bold text-lg text-center flex items-center justify-center">{"1"}</p>
        <p class="text-orange-500 font-bold text-md md:text-lg lg:text-xl">{"Payment"}</p>
    </div>

    <div class="flex items-center justify-end gap-4">
        <p class="text-white bg-fuente w-10 h-10 lg:w-16 lg:h-16 rounded-full font-bold text-lg text-center flex items-center justify-center">{"2"}</p>
        <p class="text-fuente font-bold text-md md:text-lg lg:text-xl">{"Confirmation"}</p>
    </div>
</div>