<main class="bg-white rounded-2xl py-5 px-10 max-w-xl ml-auto">
    <div class="flex items-center justify-between border-b border-b-gray-400 pb-3">
        <div>
            <p class="text-fuente-dark font-bold text-2xl">{"#1234567"}</p>
            <p class="text-gray-500 font-light text-lg">{"Order details"}</p>
        </div>

        <div class="flex items-center gap-5">
            <button
                class="border-2 border-orange-400 text-orange-400 bg-white rounded-2xl py-3 px-4 text-center font-semibold">{"In Delivery"}
            </button>

            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="lg:hidden h-6 w-6">
                <path fill-rule="evenodd" d="m8 9.414-4.293 4.293-1.414-1.414L6.586 8 2.293 3.707l1.414-1.414L8 6.586l4.293-4.293 1.414 1.414L9.414 8l4.293 4.293-1.414 1.414L8 9.414z" fill="#4167e8" class="fill-000000"></path>
            </svg>
        </div>
    </div>

    <h3 class="text-gray-500 mt-5 font-light">{"Customer information"}</h3>

    <section class="mt-5 space-y-3 border-b border-b-gray-400 py-3">
        <p class="text-gray-500 font-bold text-lg">{"Christine Amador Russel"}</p>
        <div class="w-96 space-y-2">
            <div class="flex justify-between">
                <p class="text-gray-500 font-bold text-lg">{"Email"}</p>
                <p class="text-gray-500">{"christineam@gmail.com"}</p>
            </div>

            <div class="flex justify-between">
                <p class="text-gray-500 font-bold text-lg">{"Phone Number"}</p>
                <p class="text-gray-500">{"+507 76565590012"}</p>
            </div>
        </div>
    </section>

    <img src="/templates/img/mapa.png" alt="Mapa Image" class="w-full block object-contain mt-5">
</main>