<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Store Profile - Address}</title>
    <link rel="stylesheet" href="../../../styles/output.css">
</head>
<body class="min-h-screen flex flex-col font-fuente">
    <header class="hidden container mx-auto py-10 lg:flex justify-center lg:justify-between">
        <a href="/templates/views/app/home.html" class="hidden lg:flex">
            <img src="/templates/img/Logo Fuente.jpeg" alt="Logo Fuente" class="w-40">
        </a>
    
        <div class="flex flex-col lg:flex-row gap-4 flex-1 items-center justify-end w-full">
            <div class="relative flex items-center w-full max-w-sm mx-auto lg:ml-auto lg:mx-0 gap-4">
                <div class="relative flex items-center w-full">
                    <input 
                        type="text" 
                        class="w-full pl-10 pr-10 py-3 border-2 border-fuente rounded-xl"
                    />
                    <svg 
                        class="absolute right-4 h-6 w-6 text-fuente pointer-events-none" 
                        fill="none" 
                        height="24" 
                        stroke="currentColor" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        viewBox="0 0 24 24" 
                        width="24" 
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle cx="11" cy="11" r="8" />
                        <line x1="21" x2="16.65" y1="21" y2="16.65" />
                    </svg>
                </div>
            
                <button class="lg:hidden">
                    <svg 
                        viewBox="0 0 32 32" 
                        xml:space="preserve" 
                        xmlns="http://www.w3.org/2000/svg" 
                        enable-background="new 0 0 32 32" 
                        class="bg-fuente h-14 w-14 p-2 rounded-xl"
                    >
                        <path 
                            d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z" 
                            fill="#ffffff" 
                            class="fill-000000">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="flex gap-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="size-6 w-10 h-10 text-fuente hover:cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
        
                <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-fuente hover:cursor-pointer">
                    <rect fill="none" height="256" width="256" />
                    <path d="M184,184H69.8L41.9,30.6A8,8,0,0,0,34.1,24H16" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                    <circle cx="80" cy="204" fill="none" r="20" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                    <circle cx="184" cy="204" fill="none" r="20" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                    <path d="M62.5,144H188.1a15.9,15.9,0,0,0,15.7-13.1L216,64H48" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                </svg>
        
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="size-6 w-10 h-10 text-fuente hover:cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
            </div>
        </div>
    </header>
    
    <nav class="hidden lg:flex lg:justify-center max-w-6xl mx-auto">
        <div class="flex gap-5 justify-between">
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Books"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Tech"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Clothing"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Hardware"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Pharmacy"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Groceries"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Music"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Movies"}</a>
            <a href="#" class="text-fuente-dark font-semibold text-xl">{"Furniture"}</a>
        </div>
    </nav>

    <div class="container mx-auto lg:py-10 flex flex-col lg:flex-row justify-between">
        <h1 class="text-fuente py-5 text-4xl text-center lg:text-left lg:text-6xl font-bold tracking-tighter">{"My Store Profile"}</h1>

        <div class="flex items-center justify-center lg:justify-start gap-4 py-5 lg:py-0">
            <div class="flex justify-center items-center">
                <button type="button" class="flex items-center bg-white border-2 border-fuente px-10 py-3 rounded-full text-fuente space-x-2">

                    <svg viewBox="0 0 30 30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 30 30" class="h-8 w-8"><path d="M7 22V4h18v18a4 4 0 0 1-4 4" fill="none" stroke="#4167e8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" class="stroke-000000"></path><path d="M17 22h0H4h0a4 4 0 0 0 4 4h13a4 4 0 0 1-4-4z" fill="none" stroke="#4167e8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" class="stroke-000000"></path><path d="M15 13h6M11 13h2M15 17h6M11 17h2M15 9h6M11 9h2" fill="none" stroke="#4167e8" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" class="stroke-000000"></path><path d="M17 22H4a4 4 0 0 0 4 4h13a4 4 0 0 1-4-4z" fill="#4167e8" class="fill-000000"></path></svg>

                    <span class="text-lg font-bold text-center">{"My Orders"}</span>
                </button>
            </div>
            <div class="lg:flex justify-center items-center hidden">
                <button type="button" class="flex items-center bg-white border-2 border-fuente px-10 py-3 rounded-full text-fuente space-x-2">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8">
                        <g data-name="14. Delivery Truck"><path d="M7 5h6v3.88A1.12 1.12 0 0 1 11.88 10H8.12A1.12 1.12 0 0 1 7 8.88V5Z" fill="#4167e8" class="fill-77acf1"></path><path d="m31.41 17-1.54-1.54-1.69-5.09A2 2 0 0 0 26.28 9H20V7a3 3 0 0 0-3-3H3a3 3 0 0 0-3 3v15a3 3 0 0 0 3 3h1.14a4 4 0 1 0 0-2H3a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v16h-3a1 1 0 0 0 0 2h6.14a4 4 0 0 0 7.72 0H30a2 2 0 0 0 2-2v-4.59a2 2 0 0 0-.59-1.41ZM8 22a2 2 0 1 1-2 2 2 2 0 0 1 2-2Zm19.61-7H24v-4h2.28ZM25 26a2 2 0 1 1 2-2 2 2 0 0 1-2 2Zm5-3h-1.14a4 4 0 0 0-7.72 0H20V11h2v5a1 1 0 0 0 1 1h5.59L30 18.41Z" fill="#4167e8" class="fill-04009a"></path></g>
                    </svg>

                    <span class="text-lg font-bold text-center">{"Track Packages"}</span>
                </button>
            </div>

            <div class="flex justify-center items-center">
                <button type="button" class="flex items-center bg-white border-2 border-fuente px-10 py-3 rounded-full text-fuente space-x-2">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8">
                        <path d="M5.4 24h13.2a4 4 0 0 0 3.968-4.5l-1.25-10A4.005 4.005 0 0 0 17.352 6H17V5A5 5 0 0 0 7 5v1h-.352A4.005 4.005 0 0 0 2.68 9.5l-1.25 10A4 4 0 0 0 5.4 24ZM9 5a3 3 0 0 1 6 0v1H9ZM3.414 19.752l1.25-10A2 2 0 0 1 6.648 8H7v2a1 1 0 0 0 2 0V8h6v2a1 1 0 0 0 2 0V8h.352a2 2 0 0 1 1.984 1.752l1.25 10A2 2 0 0 1 18.6 22H5.4a2 2 0 0 1-1.984-2.248Z" fill="#4167e8" class="fill-232323"></path>
                    </svg>

                    <span class="text-lg font-bold text-center">{"My Store"}</span>
                </button>
            </div>
        </div>
    </div>
    
    <main class="container mx-auto flex-grow">
        <div class="flex flex-col lg:flex-row gap-10">
            <aside class="flex lg:flex-col gap-3">
                <a class="flex items-center justify-center lg:justify-start text-center lg:text-left w-full mt-4 lg:mt-0 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-gray-100 text-gray-500 tracking-wide" href="/templates/views/app/profile-address.html">
                    {"Store Information"}
                </a>
                <a class="text-center lg:text-left w-full mt-4 py-4 px-8 rounded-2xl font-bold text-md lg:text-lg bg-fuente text-white tracking-wide flex items-center justify-center" href="/templates/views/app/profile-personal.html">
                    {"Address"}
                </a>
            </aside>

            <div class="border border-fuente rounded-xl flex-1 p-5 lg:p-10">
                <button type="button" class="flex justify-end mb-5 lg:mb-0 w-full gap-4 tracking-wide">
                    <span class="text-fuente font-bold text-xl">{"Edit"}</span>
                    <svg class="feather feather-edit text-fuente" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
                    </svg>
                </button>
                <div class="w-full">
                    <p class="text-xl font-bold text-gray-500">{"Address Registered"}</p>
                    <span class="text-xl font-thin text-gray-500">{"Cali Street, New York, United States, 11232"}</span>
                </div>
            </div>
        </div>

        <div class="w-full lg:flex lg:justify-end my-5">
            <button class="w-full lg:w-fit font-bold text-lg bg-fuente-buttons text-fuente py-3 px-7 rounded-full">{"Add new address"}</button>
        </div>
    </main>

    <nav class="w-[98%] mx-auto lg:hidden bg-white shadow-2xl shadow-gray-900 py-5 px-10 rounded-2xl flex items-center justify-between gap-5 mb-1">
        <button class="bg-white">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8">
                <path d="m20 8-6-5.26a3 3 0 0 0-4 0L4 8a3 3 0 0 0-1 2.26V19a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-8.75A3 3 0 0 0 20 8Zm-6 12h-4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1Zm5-1a1 1 0 0 1-1 1h-2v-5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v5H6a1 1 0 0 1-1-1v-8.75a1 1 0 0 1 .34-.75l6-5.25a1 1 0 0 1 1.32 0l6 5.25a1 1 0 0 1 .34.75Z" fill="#4167e8" class="fill-6563ff"></path>
            </svg>
        </button>
    
        <button class="bg-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" class="h-8 w-8">
                <path d="M31 3a2 2 0 0 0-2-2H3a2 2 0 0 0-2 2v26a2 2 0 0 0 2 2h26a2 2 0 0 0 2-2V3Zm-4 2v22H5V5h22ZM31 35a2 2 0 0 0-2-2H3a2 2 0 0 0-2 2v26a2 2 0 0 0 2 2h26a2 2 0 0 0 2-2V35Zm-4 2v22H5V37h22ZM63 3a2 2 0 0 0-2-2H35a2 2 0 0 0-2 2v26a2 2 0 0 0 2 2h26a2 2 0 0 0 2-2V3Zm-4 2v22H37V5h22ZM63 41.297A8.297 8.297 0 0 0 54.704 33H41.296A8.297 8.297 0 0 0 33 41.297v13.406A8.297 8.297 0 0 0 41.296 63h13.408A8.297 8.297 0 0 0 63 54.703V41.297Zm-4 0v13.406A4.297 4.297 0 0 1 54.704 59H41.296A4.297 4.297 0 0 1 37 54.703V41.297A4.297 4.297 0 0 1 41.296 37h13.408A4.297 4.297 0 0 1 59 41.297Z" fill="#4167e8" class="fill-000000"></path>
            </svg>
        </button>
    
        <button class="bg-white">
            <svg viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8">
                <path d="M10.5.5C7 .5 3.9 2.4 2.3 5.3L0 3v6.5h6.5L3.7 6.7C5 4.2 7.5 2.5 10.5 2.5c4.1 0 7.5 3.4 7.5 7.5s-3.4 7.5-7.5 7.5c-3.3 0-6-2.1-7.1-5H1.3c1.1 4 4.8 7 9.2 7 5.3 0 9.5-4.3 9.5-9.5S15.7.5 10.5.5ZM9 5.5v5.1l4.7 2.8.8-1.3-4-2.4V5.5H9Z" fill="#4167e8" opacity=".9" fill-rule="evenodd" class="fill-000000"></path>
            </svg>
        </button>
    
        <button class="bg-white">
            <svg viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 32 32" class="h-8 w-8">
                <path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z" fill="#4167e8" class="fill-000000 fill-ffffff"></path>
            </svg>
        </button>

        <button>
            <svg data-name="Layer 1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8">
                <path d="M24 21a10 10 0 1 1 10-10 10 10 0 0 1-10 10Zm0-16a6 6 0 1 0 6 6 6 6 0 0 0-6-6ZM42 47H6a2 2 0 0 1-2-2v-6a16 16 0 0 1 16-16h8a16 16 0 0 1 16 16v6a2 2 0 0 1-2 2ZM8 43h32v-4a12 12 0 0 0-12-12h-8A12 12 0 0 0 8 39Z" fill="#2aa1e2" class="fill-000000"></path>
            </svg>
        </button>
    </nav>

    <footer class="bg-fuente hidden lg:block p-10 lg:p-20 mt-40">
        <div class="container mx-auto flex justify-between items-center gap-4 xl:gap-0">
            <a href="/templates//views/app/home.html">
                <h3 class="text-white font-bold text-4xl lg:text-5xl">{"Fuente"}</h3>
            </a>
    
            <svg 
                viewBox="0 0 32 32" 
                xml:space="preserve" 
                xmlns="http://www.w3.org/2000/svg" 
                enable-background="new 0 0 32 32" 
                class="bg-fuente h-14 w-14 p-2 rounded-xl lg:hidden"
            >
                <path 
                    d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z" 
                    fill="#ffffff" 
                    class="fill-000000">
                </path>
            </svg>
    
            <div class="hidden lg:block">
                <h3 class="text-xl text-white">{"About Fuente"}</h3>
                <div class="mt-5 space-y-3">
                    <p class="text-white font-light text-lg">&gt; {"How to buy?"}</p>
                    <p class="text-white font-light text-lg">&gt; {"How to sale?"}</p>
                    <p class="text-white font-light text-lg">&gt; {"Why is secure?"}</p>
                </div>
            </div>
    
            <div class="hidden lg:block">
                <h3 class="text-xl text-white">{"Benefits of Fuente"}</h3>
                <div class="mt-5 space-y-3">
                    <p class="text-white font-light text-lg">&gt; {"Our benefits"}</p>
                    <p class="text-white font-light text-lg">&gt; {"Shipping and collections of orders"}</p>
                    <p class="text-white font-light text-lg">&gt; {"Payment methods"}</p>
                </div>
            </div>
    
            <div class="hidden lg:block">
                <h3 class="text-xl text-white">{"Politics of Fuente"}</h3>
                <div class="mt-5 space-y-3">
                    <p class="text-white font-light text-lg">&gt; {"Terms and conditions"}</p>
                    <p class="text-white font-light text-lg">&gt; {"General policies"}</p>
                    <p class="text-white font-light text-lg">&gt; {"Privacy Policy"}</p>
                    <p class="text-white font-light text-lg">&gt; {"Return and exchanges"}</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>